**/__pycache__/
**/.ipynb_checkpoints/
*.py[cod]
.idea/
.vs/
build/
dist/
*.egg_info/
*.egg
*.so
docs/_build
docs/_templates
*.egg-info/
**/.mypy_cache/

/data/external
/data/interim
/data/processed
/data/raw
env/
models/experiments
